<div class="container">
  <div class="ci-content-section">
    <h1 class="heading-primary">One Directory Sync</h1>
    <div class="project-details main-container">
      <app-carousel [carouselItems]="carouselImages"></app-carousel>

      <section id="projectCharacteristics" class="about tools-used">
        <h2 class="ci-heading">Characteristics</h2>
        <p><b>Project Type:</b> Enterprise</p>
        <p><b>Client:</b> OpenLM, Israel</p>
        <p><b>Period:</b> September 2021 - July 2022</p>
      </section>

      <section id="projectOverview" class="about tools-used">
        <h2 class="ci-heading">Overview</h2>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The main objective of the OneDirectorySync project is to provide a
          comprehensive solution that enables seamless synchronization of changes from an organization's primary
          directory to all connected cloud services. By doing so, the project aims to streamline IT efforts in data
          protection and security management, avoiding potential security risks and ensuring data integrity.
        </p>

        <p style="font-weight: 500;"> Key Feature</p>
        <ul class="formated-text">
          <li>Delete Users (No Notification): This option enables the deletion of users from the primary directory
            without
            sending any notifications. It ensures swift removal of user accounts without generating any user-facing
            notifications.
          </li>
          <li>Delete Users and Notify: With this feature, user deletion from the primary directory triggers a
            notification to
            inform affected users. Notifications can be sent via email, ticketing system integration, or push
            notifications,
            ensuring that users are aware of the account removal.
          </li>
          <li>Notify User for Deletion: In this mode, instead of deleting the user, OneDirectorySync generates a
            notification
            to inform the user that they should be deleted. It prompts the IT department to take action and manually
            remove the user account.
          </li>
          <li>Notification Methods: OneDirectorySync supports multiple notification methods, including email,
            integration with
            IT ticketing systems, and push notifications. These methods ensure effective communication with IT Team and
            facilitate seamless user management.
          </li>
        </ul>
      </section>

      <section id="responsibilities" class="about tools-used">
        <h2 class="ci-heading">Responsibilities</h2>
        <ul class="formated-text">
          <li><b>Requirement Gathering and Analysis</b>: I collaborated closely with the client to understand
            business objectives and translate them into functional and technical requirements. This involved conducting
            thorough discussions, eliciting feedback, and aligning the project goals with the client's needs.
          </li>
          <li><b>Design and Planning</b>: I led the design phase, creating a comprehensive solution architecture that
            aligned with the client's requirements. This included defining the overall system structure, data flows, and
            integration points.
          </li>
          <li><b>Development and Implementation</b>: I oversaw the development process, managing the development team
            and ensuring adherence to coding standards and best practices. Leading a team consisting of two freelancers.
          </li>
          <li><b>Testing and Quality Assurance</b>: Working closely with the QA team, to create detailed test cases
            based on the requirements and specifications of the application.
          </li>
          <li><b>Deployment and Maintenance</b>: I coordinated the deployment of the solution, working closely with the
            client's IT team.
          </li>
        </ul>
      </section>

      <section id="achievments" class="about tools-used">
        <h2 class="ci-heading">Achievements</h2>
        <ul class="formated-text">
          <li><b>Increased Efficiency</b>: The project improved data synchronization efficiency by reducing the time
            required
            for manual updates. This resulted in a <b>40%</b> reduction in manual synchronization efforts, saving
            approximately
            <b>200</b> hours per month.
          </li>
          <li><b>Data Consistency</b>: The project ensured data consistency across cloud services, reducing data
            discrepancies
            by <b>95%</b>. This resulted in fewer errors and improved data accuracy, enhancing decision-making processes
            within
            the organization.
          </li>
          <li><b>Security Enhancements</b>: The project strengthened data security by automating the removal of user
            accounts
            from connected cloud services. This reduced the risk of unauthorized access and potential data breaches,
            resulting in an estimated cost savings of <b>$50,000</b> in potential security incidents.
          </li>
        </ul>
      </section>

      <section id="tools" class="about tools-used">
        <h2 class="ci-heading">Skills</h2>
        <div class="skills">
          <div class="skill">Agile</div>
          <div class="skill">ASP.NET Web API</div>
          <div class="skill">MariaDB</div>
          <div class="skill">SaaS</div>
          <div class="skill">Apache Kafka</div>
          <div class="skill">Entity Framework</div>
          <div class="skill">GIT</div>
          <div class="skill">FluentValidation</div>
          <div class="skill">Docker</div>
          <div class="skill">AutoMapper</div>
          <div class="skill">LINQ</div>
          <div class="skill">SOLID</div>
          <div class="skill">Design Patterns</div>
          <div class="skill">Azure DevOps</div>
          <div class="skill">Microservices</div>
        </div>
      </section>

      <section id="seeLive" class="about tools-used">
        <h2 class="ci-heading">See Live</h2>
        <div class="ci-button-container">
          <a href="https://www.openlm.com/products/one-directory-synchronization-onedirectorysync/" class="ci-button">Documentation</a>
          <a href="https://www.youtube.com/watch?v=sYr3o893GFo" class="ci-button">Video</a>
        </div>
      </section>
    </div>
  </div>
</div>
