<div class="container">
  <div class="ci-content-section">
    <h1 class="heading-primary">Broker Cloud</h1>
    <div class="project-details main-container">
      <app-carousel [carouselItems]="carouselImages"></app-carousel>

      <section id="projectCharacteristics" class="about tools-used">
        <h2 class="ci-heading">Characteristics</h2>
        <p><b>Project Type:</b> Enterprise</p>
        <p><b>Client:</b> US, Contractor</p>
        <p><b>Period:</b> February 2023 - Current</p>
      </section>

      <section id="projectOverview" class="about tools-used">
        <h2 class="ci-heading">Overview</h2>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The project is a versatile and efficient system for managing
          plugins, integrating credentials, and facilitating interactions. It collects data on features, users,
          licenses, organizations, and user management.
        </p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The service employs dynamic form generation, where the back-end
          provides fields and data types, and the front-end dynamically constructs forms and sends data as dynamic
          objects. Additionally, a generic mechanism handles the seamless sending, accessing, and encryption of
          credentials through reflections, eliminating hardcoded credentials and enhancing security.
        </p>
        <p style="font-weight: 500;"> Key Features</p>
        <ul><p>
          <li><b>Plugin Management</b>: Centralized hub for registering, configuring, and controlling plugins.
          </li>
          <li><b>Credential Management</b>: Generic mechanism for securely retrieving, accessing, encrypting, and decrypting plugin credentials.
          </li>
          <li><b>Interaction with Plugins</b>: Facilitates seamless communication and dynamic invocation of plugin functionalities.
          </li>
          <li><b>Data Collection</b>: Retrieves various types of data from plugins for analysis and reporting.
          </li>
          <li><b>Dynamic Form Rendering</b>:  Generates and renders required fields for plugins.
          </li>
          <li><b>Hourly Update Reports</b>: Automates the generation and distribution of reports on plugin ecosystem updates.
          </li>
          <li><b>Logging and Monitoring</b>: Tracks plugin activities, diagnoses issues, and monitors performance.
          </li>
        </ul>
      </section>

      <section id="responsibilities" class="about tools-used">
        <h2 class="ci-heading">Responsibilities</h2>
        <ul>
          <li><b>Application Development and Enhancement</b>: Implement new features, improve functionality, and address bugs or issues.
          </li>
          <li><b>Front-end Interface Development</b>: Create responsive interfaces using HTML, CSS, and Angular.
          </li>
          <li><b>Modular Microservices</b>: Implement a modular microservices architecture with an N-layer structure.
          </li>
          <li><b>Plugins Integrations</b>: Ensure seamless communication with multiple cloud providers using their APIs and SDKs.
          </li>
          <li><b>Security and Compliance</b>: Adhere to security best practices and compliance standards.
          </li>
          <li><b>Application Maintenance and Support</b>:  Provide ongoing maintenance and support for optimal performance.
          </li>
          <li><b>Web Scraping Capabilities</b>: Incorporate web scraping functionality as needed for additional plugins,
            allowing data extraction and integration from external sources.
          </li>
        </ul>
      </section>

      <section id="achievements" class="about tools-used">
        <h2 class="ci-heading">Achievements</h2>
        <ul>
          <li>Reduced data collection time by <b>30%</b> and improved accuracy in retrieving feature, user, license, and
            organizational data.
          </li>
          <li>Achieved a <b>40%</b> improvement in scalability and performance through ongoing maintenance and
            optimization
            efforts.
          </li>
          <li>By implementing a single entry point for multiple services, the project achieved a <b>30%</b> reduction in
            development and maintenance efforts, resulting in a streamlined and efficient system architecture.
          </li>
        </ul>
      </section>

      <section id="tools" class="about tools-used">
        <h2 class="ci-heading">Skills</h2>
        <div class="skills">
          <div class="skill">Agile</div>
          <div class="skill">ASP.NET 6</div>
          <div class="skill">ASP.NET Web API</div>
          <div class="skill">HTML</div>
          <div class="skill">CSS</div>
          <div class="skill">Angular</div>
          <div class="skill">Docker</div>
          <div class="skill">MongoDB</div>
          <div class="skill">MySQL</div>
          <div class="skill">GIT</div>
          <div class="skill">FluentValidation</div>
          <div class="skill">Hangfire</div>
          <div class="skill">Apache Kafka</div>
          <div class="skill">AutoMapper</div>
          <div class="skill">LINQ</div>
          <div class="skill">SOLID</div>
          <div class="skill">Design Patterns</div>
          <div class="skill">DRY</div>
          <div class="skill">Azure DevOps</div>
          <div class="skill">Microservices</div>
          <div class="skill">Puppeteer</div>
        </div>
      </section>
    </div>
  </div>
</div>
