<div class="container">
  <div class="ci-content-section">
    <h1 class="heading-primary">Broker Cloud</h1>
    <div class="project-details main-container">
      <app-carousel [carouselItems]="carouselImages"></app-carousel>

      <section id="projectCharacteristics" class="about tools-used">
        <h2 class="ci-heading">Characteristics</h2>
        <p><b>Project Type:</b> Enterprise</p>
        <p><b>Client:</b> US, Contractor</p>
        <p><b>Period:</b> February 2023 - Current</p>
      </section>

      <section id="projectOverview" class="about tools-used">
        <h2 class="ci-heading">Overview</h2>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The project is a powerful and versatile system designed to
          efficiently manage various types of plugins. It serves as the central entry point for the entire system,
          providing seamless integration and management of credentials and interactions with plugins. The primary
          objective of the service is to collect data related to features, users, licenses, organization, and user
          management.
        </p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The service implements a powerful mechanism for dynamic form
          generation. The back-end is responsible for returning the required fields and data types, while the front-end
          dynamically constructs the corresponding forms and sends data as dynamic objects. In addition, the service
          incorporates a generic mechanism that allows for seamless sending, accessing, and encryption of credentials
          using reflections. This eliminates the need for hardcoded credentials and enhances security.
        </p>
        <p style="font-weight: 500;"> Key Features</p>
        <ul><p>
          <li><b>Plugin Management</b>: Acts as a centralized hub for managing different types of plugins.
            It provides functionalities to register, configure, and control plugins within the system.
          </li>
          <li><b>Credential Management</b>: Offers a generic mechanism for managing credentials associated
            with plugins. It provides functions to securely retrieve, access, validate, encrypt, decrypt, and save
            credentials, ensuring the protection of sensitive information.
          </li>
          <li><b>Interaction with Plugins</b>: Facilitates seamless interactions with plugins. It allows for
            efficient communication between the service and the plugins through reflection-based interface methods,
            enabling dynamic discovery and invocation of plugin functionalities.
          </li>
          <li><b>Data Collection</b>: Facilitates the collection of various types of data from plugins. It
            supports the retrieval of information such as features, users, licenses, and other relevant data points.
            This data can be utilized for analysis and reporting.
          </li>
          <li><b>Dynamic Form Rendering</b>: Includes a dynamic form rendering mechanism generated by back-end that
            dynamically
            generates and renders fields required by the plugins.
          </li>
          <li><b>Hourly Update Reports</b>: Includes a reporting feature that sends hourly reports
            specifically focused on updates within the plugin ecosystem. This feature automates the generation and
            distribution of reports, ensuring timely and efficient communication of important update information to
            other services.
          </li>
          <li><b>Logging and Monitoring</b>: Offers logging and monitoring capabilities to track plugin activities,
            diagnose issues, and monitor performance. It generates logs and provides real-time monitoring for effective
            troubleshooting.
          </li>
        </ul>
      </section>

      <section id="responsibilities" class="about tools-used">
        <h2 class="ci-heading">Responsibilities</h2>
        <ul>
          <li><b>Application Development and Enhancement</b>: The primary responsibility is to continue developing and
            enhancing the existing cloud-based SaaS application. This includes implementing new features, improving
            existing functionality, and addressing any bugs or issues that may arise.
          </li>
          <li><b>Front-end Interface Development</b>: Develop responsive front-end interfaces using HTML, CSS, and
            Angular to enhance user engagement.
          </li>
          <li><b>Modular Microservices</b>: Implement modular microservices architecture with an N-layer structure.
          </li>
          <li><b>Plugins Integrations</b>: Ensure seamless communication with multiple cloud providers by leveraging
            their APIs and SDKs.
          </li>
          <li><b>Security and Compliance</b>: Ensuring the application adheres to security best practices and compliance
            standards is crucial.
          </li>
          <li><b>Application Maintenance and Support</b>: Provide ongoing maintenance and support for the applications
            to ensure optimal performance.
          </li>
        </ul>
      </section>

      <section id="achievements" class="about tools-used">
        <h2 class="ci-heading">Achievements</h2>
        <ul>
          <li>Reduced data collection time by <b>30%</b> and improved accuracy in retrieving feature, user, license, and
            organizational data.
          </li>
          <li>Achieved a <b>40%</b> improvement in scalability and performance through ongoing maintenance and
            optimization
            efforts.
          </li>
          <li>By implementing a single entry point for multiple services, the project achieved a <b>30%</b> reduction in
            development and maintenance efforts, resulting in a streamlined and efficient system architecture.
          </li>
        </ul>
      </section>

      <section id="tools" class="about tools-used">
        <h2 class="ci-heading">Skills</h2>
        <div class="skills">
          <div class="skill">Agile</div>
          <div class="skill">ASP.NET 6</div>
          <div class="skill">ASP.NET Web API</div>
          <div class="skill">HTML</div>
          <div class="skill">CSS</div>
          <div class="skill">Angular</div>
          <div class="skill">Docker</div>
          <div class="skill">MongoDB</div>
          <div class="skill">MySQL</div>
          <div class="skill">GIT</div>
          <div class="skill">FluentValidation</div>
          <div class="skill">Hangfire</div>
          <div class="skill">Apache Kafka</div>
          <div class="skill">AutoMapper</div>
          <div class="skill">LINQ</div>
          <div class="skill">SOLID</div>
          <div class="skill">Design Patterns</div>
          <div class="skill">DRY</div>
          <div class="skill">Azure DevOps</div>
          <div class="skill">Microservices</div>
        </div>
      </section>
    </div>
  </div>
</div>
