<div class="container">
  <div class="ci-content-section">
    <h1 class="heading-primary">Automated Insurance Processes</h1>
    <div class="project-details main-container">
      <app-carousel [carouselItems]="carouselImages"
                    description="Sample Of System Architecture Used Diagram"></app-carousel>

      <section id="projectCharacteristics" class="about tools-used">
        <h2 class="ci-heading">Characteristics</h2>
        <p><b>Project Type:</b> Enterprise</p>
        <p><b>Client:</b> Cegeka, Germany</p>
        <p><b>Period:</b> July 2022 - May 2023</p>
      </section>

      <section id="projectOverview" class="about tools-used">
        <h2 class="ci-heading">Overview</h2>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The project involved working for a client based in Germany with the
          goal of optimizing and automating their insurance processes. The objective was to develop a streamlined system
          that automates workflows, generates documents, enables document signing, stores documents, and sends regular
          notifications to customers.
        </p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The project involved the development of a system composed of more
          than 7 microservices and one monolithic web service.
        </p>
        <p style="font-weight: 500;"> Key Features</p>
        <ul><p>
          <li><b>Process Automation</b>: Automated system to initiate and streamline insurance processes.
          </li>
          <li><b>Microservices Architecture</b>: Migrated from a monolithic system to microservices for scalability and modularity.
          </li>
          <li><b>Monolith Maintenance</b>: Ensured the functional, stable, and compatible operation of the existing
            monolithic system throughout the transition phase until complete decomposition into microservices was
            achieved.
          </li>
          <li><b>Documents Storage and Generation</b>: Generated and stored insurance documents using templates and customer information.
          </li>
          <li><b>Notification System</b>: Sent daily updates and reminders to customers regarding their insurance processes.
          </li>
        </ul>
      </section>

      <section id="responsibilities" class="about tools-used">
        <h2 class="ci-heading">Responsibilities</h2>
        <ul>
          <li><b>Development cycle</b>: Involved in all phases of the software development lifecycle following the Scrum methodology.
          </li>
          <li><b>High-Quality Code</b>: Wrote reusable and maintainable code adhering to best practices and coding standards.
          </li>
          <li><b>Microservices architecture</b>: Designed and implemented microservices using Domain-Driven Design and CQRS patterns.
          </li>
          <li><b>Code Review and Quality Assurance</b>: Participated in code reviews and ensured adherence to standards.
          </li>
          <li><b>Issue Resolution</b>: Troubleshot and resolved issues in microservices and monolith applications.
          </li>
          <li><b>Enhanced front-end</b>: Improved the UI using Angular framework, implementing enhancements and fixing bugs.
          </li>
          <li><b>Documentation</b>: Created technical documentation including architecture diagrams, API documentation, and user guides.
          </li>
        </ul>
      </section>

      <section id="achievments" class="about tools-used">
        <h2 class="ci-heading">Achievements</h2>
        <ul>
          <li>Achieved a <b>30%</b> reduction in manual intervention by developing an automated system for initiating
            insurance
            processes and streamlining workflows.
          </li>
          <li>Successfully migrated the monolithic insurance system to a microservices architecture, resulting in a <b>40%</b>
            improvement in scalability, modularity, and maintainability.
          </li>
          <li>Efficiently resolved <b>90%</b> of issues in the microservices and monolith applications, minimizing
            downtime and ensuring smooth software operation.
          </li>
        </ul>
      </section>

      <section id="tools" class="about tools-used">
        <h2 class="ci-heading">Skills</h2>
        <div class="skills">
          <div class="skill">Scrum</div>
          <div class="skill">ASP.NET 6</div>
          <div class="skill">ASP.NET Web API</div>
          <div class="skill">HTML</div>
          <div class="skill">CSS</div>
          <div class="skill">Angular</div>
          <div class="skill">AWS EventBridge</div>
          <div class="skill">AWS CloudWatch</div>
          <div class="skill">AWS Lambda</div>
          <div class="skill">Azure Lambda</div>
          <div class="skill">Docker</div>
          <div class="skill">Entity Framework</div>
          <div class="skill">MSSQL</div>
          <div class="skill">PostgreSQL</div>
          <div class="skill">MediatR</div>
          <div class="skill">GIT</div>
          <div class="skill">FluentValidation</div>
          <div class="skill">AutoMapper</div>
          <div class="skill">LINQ</div>
          <div class="skill">SOLID</div>
          <div class="skill">Design Patterns</div>
          <div class="skill">Domain-Driven Design</div>
          <div class="skill">DRY</div>
          <div class="skill">Azure DevOps</div>
          <div class="skill">Microservices</div>
        </div>
      </section>
    </div>
  </div>
</div>
