<header class="ci-header" id="site-header">
  <div class="container">
    <div class="ci-header-inner">
      <a href="/" class="ci-logo">
        <span>C</span>Cristian Ionas
      </a>

      <div class="navbar">
  <span class="navbar-toggle" (click)="toggleNavbar()">
    <i *ngIf="!isNavbarOpen" class="fa fa-bars"></i>
    <i *ngIf="isNavbarOpen" class="fa fa-times"></i>
  </span>
        <div class="navbar-collapse" [ngClass]="{ 'show': isNavbarOpen }">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" routerLink="/">Home</a>
            </li>
            <li *ngIf="isPortofolioEnabled" class="nav-item">
              <a class="nav-link" routerLink="/portfolio">Portfolio</a>
            </li>

              <ul class="ci-social">
                <li><a href="https://www.linkedin.com/in/cristianionas/"
                       target="_blank" title="LinkedIn">
                  <fa-icon [icon]="faLinkedin"></fa-icon>
                </a></li>
                <li><a href="https://www.facebook.com/cris.ionas"
                       target="_blank" title="Facebook">
                  <fa-icon class="icon-container" [icon]="faFacebook"></fa-icon>
                </a></li>
                <li><a href="https://www.instagram.com/cris.ionas/"
                       target="_blank" title="Instagram">
                  <fa-icon class="icon-container" [icon]="faInstagram"></fa-icon>
                </a></li>
                <li><a href="https://www.github.com/crisionas"
                       target="_blank" title="Github">
                  <fa-icon [icon]="faGithub"></fa-icon>
                </a></li>
                <li><a href="mailto:cris.ionas@gmail.com"
                       target="_blank" title="Mail">
                  <fa-icon [icon]="faEnvelope"></fa-icon>
                </a></li>
              </ul>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
