<div id="carouselContainer" class="carousel container">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" [attr.data-interval]="dataInterval">
    <ol class="carousel-indicators">
      <li *ngFor="let item of carouselItems; let i = index" [attr.data-target]="'#carouselExampleCaptions'"
          [attr.data-slide-to]="i" [ngClass]="{ 'active': i === 0 }"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item" *ngFor="let item of carouselItems; let i = index" [ngClass]="{ 'active': i === 0 }">
        <ng-container *ngIf="item.type === 0">
          <img [src]="item.src" [alt]="item.alt">
        </ng-container>
        <ng-container *ngIf="item.type === 1">
          <iframe [width]="height" [height]="width" [src]="getSafeVideoURL(item.src)" title="YouTube video player"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  allowfullscreen></iframe>
        </ng-container>
        <div class="carousel-caption d-none d-md-block">
          <h5>{{ item.captionTitle }}</h5>
          <p>{{ item.captionText }}</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
