.heading-primary {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  color: #000;
}

@media only screen and (max-width: 600px) {
  .heading-primary {
    font-size: 30px;
  }
}


.projects .row {
  display: grid;
  grid-template-columns: 24px 16px;
  grid-gap: 80px;
  margin-bottom: 176px;
}

@media only screen and (max-width: 900px) {
  .projects .row {
    grid-template-columns: 16px;
    grid-gap: 32px;
    margin-bottom: 128px;
  }
}

@media only screen and (max-width: 900px) {
  .projects .row {
    text-align: center;
  }
}

.projects .row:last-child {
  margin-bottom: 0;
}

.projects .row-img-cont {
  overflow: hidden;
}

.projects .row-img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.projects .row-content {
  padding: 32px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

@media only screen and (max-width: 900px) {
  .projects .row-content {
    align-items: center;
  }
}

.projects .row-content-title {
  font-weight: 700;
  font-size: 44.8px;
  margin-bottom: 32px;
}

@media only screen and (max-width: 600px) {
  .projects .row-content-title {
    font-size: 38.4px;
  }
}

.projects .row-content-desc {
  font-size: 28.8px;
  color: grey;
  max-width: 960px;
  line-height: 1.7;
  margin-bottom: 48px;
}

@media only screen and (max-width: 600px) {
  .projects .row-content-desc {
    font-size: 27.2px;
  }
}

.project-details .content {
  max-width: 1440px;
  margin: auto;
}

.project-details .content-title {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 48px;
}

@media only screen and (max-width: 600px) {
  .project-details .content-title {
    font-size: 22px;
  }
}

.project-details .showcase-img {
  width: 100%;
  align-items: center;
}

.project-details .content-main {
  width: 100%;
  max-width: 1320px;
  margin: auto;
}

.project-details .desc {
  margin: 0 0 112px 0;
}

.project-details .desc-para {
  font-size: 18px;
  line-height: 1.7;
  color: grey;
  margin-bottom: 32px;
}

.project-details .tools-used {
  margin-top: 40px;
}

.project-details .tools-used-list {
  display: flex;
  flex-wrap: wrap;
}

.project-details .tools-used-item {
  padding: 16px 32px;
  margin-bottom: 24px;
  margin-right: 24px;
  font-size: 28.8px;
  background: rgba(153, 153, 153, 0.2);
  border-radius: 5px;
  font-weight: 600;
  color: #777;
}

@media only screen and (max-width: 600px) {
  .project-details .links-btn {
    margin-right: 0;
    width: 70%;
    margin-bottom: 32px;
    text-align: center;
  }
}

.project-details .links-btn:last-child {
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .project-details .links-btn:last-child {
    margin: 0;
  }
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.skills .skill {
  padding: 16px 32px;
  margin-bottom: 24px;
  margin-right: 24px;
  font-size: 14px;
  background: rgba(153, 153, 153, 0.2);
  border-radius: 5px;
  font-weight: 600;
  color: #777;
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 27px;
  }
}

@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 27px;
  }
}

.list li {
  color: #373737;
  font-size: 21px;
  line-height: 40px;
  font-weight: 300;
  margin-bottom: 20px;
}

.formated-text {
  color: #373737;
  font-size: 21px;
  line-height: 40px;
  font-weight: 300;
  margin-bottom: 20px;
  margin-left: 20px;
}
.ci-button-container a {
  margin-right: 10px; /* Adjust the value as per your preference */
}
