<div class="container">
  <div class="ci-content-section">
    <h1 class="heading-primary">Directory Sync</h1>
    <div class="project-details main-container">
      <app-carousel [carouselItems]="carouselImages"></app-carousel>

      <section id="projectCharacteristics" class="about tools-used">
        <h2 class="ci-heading">Characteristics</h2>
        <p><b>Project Type:</b> Enterprise</p>
        <p><b>Client:</b> OpenLM, Israel</p>
        <p><b>Period:</b> May 2021 - July 2022</p>
      </section>

      <section id="projectOverview" class="about tools-used">
        <h2 class="ci-heading">Overview</h2>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Directory Sync enables organizations to synchronize their
          directory service with OpenLM database to ensure consistent and synchronized user information and access
          control. Directory synchronization is performed between directories that adhere to the LDAP protocol, such as
          Active Directory, ApacheDS, or eDirectory.
        </p>
      </section>

      <section id="responsibilities" class="about tools-used">
        <h2 class="ci-heading">Responsibilities</h2>
        <ul>
          <li><b>System Enhancement</b>: I actively contributed to the development and implementation of new features
            and bug fixes to enhance the functionality and user experienc
          </li>
          <li><b>Performance Optimization</b>: Monitored and optimized the performance this included identifying
            bottlenecks and implementing performance improvements.
          </li>
          <li><b>Product Expansion</b>: I collaborated closely with the development team to integrate with new
            products, such as DsConnector and OneDirectorySync.
          </li>
        </ul>
      </section>

      <section id="achievments" class="about tools-used">
        <h2 class="ci-heading">Achievements</h2>
        <ul>
          <li>Successfully integrated Google Cloud Directory Sync to streamline directory management processes.
            Expanding the product coverage to cater to multiple clients,
            which resulted in attracting new clients and driving sales growth.
          </li>
          <li>Implemented new features and conducted bug fixes to enhance system functionality and user experience,
            leading to a <b>25%</b> increase in system functionality and a <b>15%</b> improvement in user satisfaction.
          </li>
          <li>Implemented the DsConnector concept, empowering users to effortlessly sync their directory with
            their apps and services, leveraging message brokers like Kafka. Increased user productivity by <b>50%</b> by
            enabling seamless synchronization between the directory and their apps and services.
          </li>
          <li>I integrated DirectorySync with OneDirectorySync in the past to enhance directory management capabilities.
            This integration enabled real-time updates from the directory, ensuring that when a user was removed, the
            information was promptly transmitted via message brokers.
          </li>
        </ul>
      </section>

      <section id="tools" class="about tools-used">
        <h2 class="ci-heading">Skills</h2>
        <div class="skills">
          <div class="skill">Agile</div>
          <div class="skill">ASP.NET Core</div>
          <div class="skill">ASP.NET Web API</div>
          <div class="skill">MSSQL</div>
          <div class="skill">MariaDB</div>
          <div class="skill">MySQL</div>
          <div class="skill">Quartz</div>
          <div class="skill">SaaS</div>
          <div class="skill">On-Prem</div>
          <div class="skill">Apache Kafka</div>
          <div class="skill">NHibernate</div>
          <div class="skill">GIT</div>
          <div class="skill">FluentValidation</div>
          <div class="skill">AutoMapper</div>
          <div class="skill">LINQ</div>
          <div class="skill">SOLID</div>
          <div class="skill">Microservices</div>
          <div class="skill">Design Patterns</div>
          <div class="skill">Azure DevOps</div>
        </div>
      </section>

      <section id="seeLive" class="about tools-used">
        <h2 class="ci-heading">Related Links</h2>
        <div class="ci-button-container">
          <a href="https://www.openlm.com/products/openlm-directory-sync/" class="ci-button">Directory Sync</a>
        </div>
      </section>
    </div>
  </div>
</div>
