.ci-footer {
  background-color: #000;
  padding: 50px 0;
}

.ci-footer section {
  padding-bottom: 97px;
}

.ci-footer section span {
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  display: block;
  padding-bottom: 20px;
}

.ci-footer section h4 {
  color: #FFF;
  font-size: 48px;
  font-weight: 700;
}

.ci-footer section p {
  letter-spacing: 1.13px;
  color: #FFF;
  font-size: 18px;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .ci-footer {
    padding: 60px 10px;
  }

  .ci-footer section h4 {
    font-size: 40px;
  }

  .ci-copyright {
    font-size: 14px;
  }

  .ci-footer section {
    padding-bottom: 30px;
  }
}
