<div class="container">

  <h2 class="ci-heading">Projects</h2>

  <div class="row portfolio-container">

    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
      <app-project projectTitle="Twitter Analysis" image="assets/img/project/twitteranalysis.jpg"></app-project>
    </div>
    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
      <app-project projectTitle="Image recognition as Service" image="assets/img/project/iras.jpeg"></app-project>
    </div>
    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
      <app-project projectTitle="Music Streaming Website" image="assets/img/project/musicplayer.jpg"></app-project>
    </div>

    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
      <app-project projectTitle="Movie Recommender" image="assets/img/project/recommender.jpg"></app-project>
    </div>
    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
      <app-project projectTitle="Resume Section Classifier" image="assets/img/project/resume.jpg"></app-project>
    </div>
    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
      <app-project projectTitle="Video Description Generator" image="assets/img/project/vdg.jpg"></app-project>
    </div>
  </div>
</div>
