<div class="ci-banner">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
        <div class="ci-profile-image"><a href="#">
          <img src="assets/images/profile-image.jpg" alt="Image"/></a></div>
      </div>
      <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 col-xxl-7">
        <section>
          <h1>
            I’m Cristian Ionas<br>
            <ngx-typed-js
              [strings]="['Software Developer','FullStack Developer','.NET Developer']"
              [loop]="true"
              [typeSpeed]="65"
              [backSpeed]="65">
              <span class="typing"></span>
            </ngx-typed-js>
          </h1>
          <ul class="icon-container ci-social-header">
            <li><a href="https://www.linkedin.com/in/cristianionas/"
                   target="_blank" title="LinkedIn">
              <fa-icon [icon]="faLinkedin"></fa-icon>
            </a></li>

            <li><a href="https://www.facebook.com/cris.ionas"
                   target="_blank" title="Facebook">
              <fa-icon [icon]="faFacebook"></fa-icon>
            </a></li>

            <li><a href="https://www.instagram.com/cris.ionas/"
                   target="_blank" title="Instagram">
              <fa-icon [icon]="faInstagram"></fa-icon>
            </a></li>

            <li><a href="https://www.github.com/crisionas"
                   target="_blank" title="Github">
              <fa-icon [icon]="faGithub"></fa-icon>
            </a></li>
            <li><a href="mailto:cris.ionas@gmail.com"
                   target="_blank" title="Mail">
              <fa-icon [icon]="faEnvelope"></fa-icon>
            </a></li>
          </ul>
        </section>
      </div>
    </div>
  </div>
</div>

<div class="ci-about-section">
  <div class="container">
    <section id="about" class="about">
      <h2 class="ci-heading">About Me</h2>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I'm a software engineer with 3 years of experience specializing in
        .NET development, passionate about creating innovative and
        efficient solutions to complex problems. I have a strong background
        in programming and development, with expertise in various
        technologies.</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Throughout my career, I have worked on various projects, ranging
        from small-scale applications to large enterprise-level systems. I
        am highly skilled in developing robust software solutions, ensuring
        that they are scalable, maintainable, and secure.</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I take pride in staying up-to-date with the latest industry trends
        and technologies. I'm constantly refining my skills and knowledge to
        deliver the best results for my clients and stakeholders.</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;If you're looking for a driven and dedicated software engineer who
        can help your organization reach its full potential, I'd love to
        hear from you. Let's work together to bring your digital dreams to
        life.</p>
    </section>
  </div>
</div>
