<div class="container">
  <div class="ci-content-section">
    <h1 class="heading-primary">Notification Service</h1>
    <div class="project-details main-container">
      <app-carousel [carouselItems]="carouselImages" description="Service Architecture Diagram"></app-carousel>

      <section id="projectCharacteristics" class="about tools-used">
        <h2 class="ci-heading">Characteristics</h2>
        <p><b>Project Type:</b> Enterprise</p>
        <p><b>Client:</b> OpenLM, Israel</p>
        <p><b>Period:</b> January 2022 - July 2022</p>
      </section>

      <section id="projectOverview" class="about tools-used">
        <h2 class="ci-heading">Overview</h2>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Notification Service is a comprehensive and versatile solution
          designed to facilitate the sending of notifications. It consists of 4 interconnected microservices, each
          serving a specific purpose. These microservices are:
        </p>
        <ul class="formated-text"><p>
          <li><b>Notification Gateway</b>: This microservice works as an orchestrator directs requests to the
            appropriate notification service,
            supporting multiple types of requests such as batch, bulk, single, on-demand, and multiple notifications.
          </li>
          <li><b>Email Notifications</b>: This microservice sends customized emails with preset or custom designs,
            including
            personalized email names.
          </li>
          <li><b>Ticketing Notification</b>: This microservice creates tickets within customer ticketing systems,
            automating the process and improving efficiency.
          </li>
          <li><b>Push Notifications</b>: This microservice generates push notifications for front-end application
            services,
            ensuring effective user engagement across mobile and web platforms.
          </li>
        </ul>
      </section>

      <section id="responsibilities" class="about tools-used">
        <h2 class="ci-heading">Responsibilities</h2>
        <ul class="formated-text">
          <li><b>Design and Planning</b>: I spearheaded the design phase, creating a comprehensive solution architecture
            that encompassed the system structure, data flows, and integration points.
          </li>
          <li><b>Development and Implementation</b>: I actively participated in the development process, taking
            responsibility for ensuring strict adherence to coding standards and best practices.
          </li>
          <li><b>Deployment and Maintenance</b>: Working closely with the IT team to ensure a seamless deployment
            process. Handling ongoing maintenance tasks, including bug fixes, performance optimization, and feature
            updates.
          </li>
        </ul>
      </section>

      <section id="achievments" class="about tools-used">
        <h2 class="ci-heading">Achievements</h2>
        <ul class="formated-text">
          <li>Enhanced user engagement across web platforms by implementing the Push Notifications
            microservice, which resulted in a significant <b>20%</b> increase in user interactions and retention.
          </li>
          <li>Successfully personalized email communication by implementing the Email Notifications microservice,
            resulting in a <b>25%</b> increase in customer engagement and satisfaction.
          </li>
          <li>Achieved high code reusability as a generic mechanism that can be utilized across all services. This
            approach allowed for efficient development and reduced redundancy, resulting in time and cost savings for
            future projects.
          </li>
        </ul>
      </section>

      <section id="tools" class="about tools-used">
        <h2 class="ci-heading">Skills</h2>
        <div class="skills">
          <div class="skill">Agile</div>
          <div class="skill">ASP.NET 5</div>
          <div class="skill">ASP.NET Web API</div>
          <div class="skill">MongoDB</div>
          <div class="skill">SaaS</div>
          <div class="skill">On-Prem</div>
          <div class="skill">Apache Kafka</div>
          <div class="skill">GIT</div>
          <div class="skill">FluentValidation</div>
          <div class="skill">AutoMapper</div>
          <div class="skill">LINQ</div>
          <div class="skill">SOLID</div>
          <div class="skill">Design Patterns</div>
          <div class="skill">Azure DevOps</div>
          <div class="skill">Microservices</div>
          <div class="skill">SignalR</div>
          <div class="skill">Firebase Cloud Messaging</div>
        </div>
      </section>
    </div>
  </div>
</div>
