<div class="container">
  <div class="ci-content-section">
    <h1 class="heading-primary">Migration Tool</h1>
    <div class="project-details main-container">
      <app-carousel [carouselItems]="carouselImages"></app-carousel>

      <section id="projectCharacteristics" class="about tools-used">
        <h2 class="ci-heading">Characteristics</h2>
        <p><b>Project Type:</b> Enterprise - OpenLM</p>
        <p><b>Period:</b> February 2021 - May 2021</p>
      </section>

      <section id="projectOverview" class="about tools-used">
        <h2 class="ci-heading">Overview</h2>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; This project involved creating a migration tool using .NET WPF to
          facilitate the seamless transfer of clients that
          used old databases of Firebird to MariaDB. The tool offers a user-friendly interface for selecting the
          source Firebird database and configuring the MariaDB connection. It performs schema conversion, data transfer,
          and ensures data integrity during the migration process. The tool includes error handling, progress tracking,
          and customization options. The completed project delivers a seamless and efficient migration experience from
          Firebird to MariaDB.</p>
      </section>

      <section id="achievments" class="about tools-used">
        <h2 class="ci-heading">Achievements</h2>
        <ul class="nested-list">
          <li><b>Migration Time Efficiency</b>: The tool demonstrated improved efficiency, reducing the average
            migration time from Firebird to MariaDB by<b>60%</b> compared to manual migration methods, saving users
            valuable time.
          </li>
          <li><b>Successful Migrations</b>The tool successfully migrated more than <b>100</b> databases.
          </li>
          <li><b>Cost Savings</b>: By utilizing the migration tool, each client achieved cost savings of <b>$5000</b> by
            avoiding manual migration efforts and minimizing downtime during the transition.
          </li>
        </ul>
      </section>

      <section id="tools" class="about tools-used">
        <h2 class="ci-heading">Tools Used</h2>
        <div class="skills">
          <div class="skill">ASP.NET WPF</div>
          <div class="skill">XAML</div>
          <div class="skill">Firebird</div>
          <div class="skill">MariaDB</div>
          <div class="skill">SQL</div>
          <div class="skill">GIT</div>
        </div>
      </section>

      <section id="links" class="about tools-used">
        <h2 class="ci-heading">Related Links</h2>
        <div class="ci-button-container">
          <a href="https://www.openlm.com/knowledge-base/migrate-firebird-to-mariadb/#3-toc-title" class="ci-button">FbToMariaDB</a>
        </div>
      </section>
    </div>
  </div>
</div>
